<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ice Cream</title>
        <!-- add css stylesheet link -->

        <!-- add google fonts link -->


    </head>
    <body>
        <header>
            <h1>Ice Cream</h1>
            <!-- including ejs template for navbar -->
            <%- include ../partials/navbar.ejs %>

        </header>

        <main>

            <section>
                <h1>Name of Creation: <%=icecream.nameOfCreation%></h1>
                <p><a href="/icecreams">Back to Ice Creams</a></p>

                <p>Flavor: <%=icecream.flavor%></p>
                <p>Topping: <%=icecream.toppings%></p>
                <p>Sauces: <%=icecream.sauces%></p>
                <p>Creator: <a href="/users/<%=user._id%>"><%=user.username%></a></p>

                <p><a href="/icecreams/<%=icecream._id%>/edit">Edit Ice Cream</a></p>
            </section>


            <section>
                <form action="/icecreams/<%=icecream._id%>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete Ice Cream">
                </form>
            </section>

        </main>

        <footer>
            <!-- including ejs template for footer -->
            <%- include ../partials/footer.ejs %>
        </footer>

    </body>
</html>
