<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ice Cream</title>
        <!-- css stylesheet link -->
        <link rel="stylesheet" type="text/css" href="/style.css">
        <!-- google fonts link -->
        <link href="https://fonts.googleapis.com/css?family=Muli:400,800|Pacifico" rel="stylesheet">
        <!-- viewport -->
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body class="show-ic-page">
        <header>


            <div class="full-navbar">
                <div class="half-navbar-left">
                    <%- include ../partials/navbar.ejs %>
                </div>
            </div>

            <h1 class="tittle" id="show-ic-h1">Ice Cream</h1>

        </header>

        <main>

            <div class="form-container" id="show-ic-cont">
                <section>
                    <h2 class="h2-show-ic">Name of Creation: <%=icecream.nameOfCreation%></h2>
                    <p class="page-link"><a href="/icecreams">Back to Ice Creams</a></p>

                    <div class="p-show">
                        <p class="p-text"><b>Flavor:</b>    <%=icecream.flavor%></p>
                        <p class="p-text"><b>Topping:</b> <%=icecream.toppings%></p>
                        <p class="p-text"><b>Sauces:</b> <%=icecream.sauces%></p>
                        <p class="p-text"><b>Creator:</b> <a href="/users/<%=user._id%>"><%=user.username%></a></p>
                    </div>


                    <p class="page-link"><a href="/icecreams/<%=icecream._id%>/edit">Edit Ice Cream</a></p>
                </section>


                <section>
                    <form action="/icecreams/<%=icecream._id%>?_method=DELETE" method="POST">
                        <input class="button" id="delete-ic" type="submit" value="Delete Ice Cream">
                    </form>
                </section>
            </div>
        </main>
    </body>
</html>
