<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>User's Page</title>
    </head>
    <body>

        <header>
            <%- include ../partials/navbar.ejs %>
        </header>

        <main>
            <section>
                <h1>Hello <%=user.username%>!</h1>
                <p><a href="/users/<%=user._id%>/edit">Edit User Profile</a></p>
            </section>

            <section>
                <h1><%=user.username%>'s Ice Cream Creations</h1>
                <p><a href="../icecreams/new">Add Ice Cream</a></p>
            </section>

            <section>
                <ul>
                    <% for(var i = 0; i < user.icecreams.length; i++){ %>
                        <li><a href="/icecreams/<%=user.icecreams[i].id%>"><%=user.icecreams[i].nameOfCreation%></a></li>
                    <% } %>
                </ul>
            </section>

            <section>
                <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete User">
                </form>

                <form action="/sessions?_method=DELETE" method="POST">
                     <input type="submit" value="Logout">
                </form>



            </section>

        </main>

    </body>
</html>
