<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>User's Page</title>
        <!-- css stylesheet link -->
        <link rel="stylesheet" type="text/css" href="style.css">
        <!-- google fonts link -->
        <link href="https://fonts.googleapis.com/css?family=Muli:400,800|Pacifico" rel="stylesheet">
        <!-- viewport -->
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>

        <header>
            <div class="full-navbar">
                <div class="half-navbar-left">
                    <%- include ../partials/navbar.ejs %>
                </div>
            </div>
        </header>

        <main>
            <section>
                <h1>Hello <%=user.username%>!</h1>
                <p><a href="/users/<%=user._id%>/edit">Edit User Profile</a></p>
            </section>

            <section>
                <h1><%=user.username%>'s Ice Cream Creations</h1>
                <p><a href="../icecreams/new">Add Ice Cream</a></p>
            </section>

            <section>
                <ul>
                    <% for(var i = 0; i < user.icecreams.length; i++){ %>
                        <li><a href="/icecreams/<%=user.icecreams[i].id%>"><%=user.icecreams[i].nameOfCreation%></a></li>
                    <% } %>
                </ul>
            </section>

            <section>
                <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete User">
                </form>

                <form action="/sessions?_method=DELETE" method="POST">
                     <input type="submit" value="Logout">
                </form>
            </section>
        </main>

        <footer>
            <!-- including ejs template for footer -->
            <%- include ../partials/footer.ejs %>
        </footer>

    </body>
</html>
