<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>User's Page</title>
        <!-- css stylesheet link -->
        <link rel="stylesheet" type="text/css" href="/style.css">
        <!-- google fonts link -->
        <link href="https://fonts.googleapis.com/css?family=Muli:400,800|Pacifico" rel="stylesheet">
        <!-- viewport -->
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body class="show-user-page">

        <header>
            <div class="full-navbar">
                <div class="half-navbar-left">
                    <nav>
                        <ul>
                            <li class="nav-links"><a href="/">Home</a></li>
                            <li class="nav-links"><a href="#about">About</a></li>
                            <li class="nav-links"><a href="/icecreams">Ice Creams</a></li>
                            <li class="nav-links"><a href="#">Location</a></li>
                            <li class="nav-links"><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
        </header>

        <main>
            <h1 class="tittle" id="show-user-h1">Hello <%=user.username%>!</h1>

            <div class="form-container" id="show-user-cont">
                <section>
                    <p class="page-link"><a href="/icecreams">Back to Ice Creams</a></p>
                    <p class="page-link"><a href="/users/<%=user._id%>/edit">Edit User Profile</a></p>
                </section>

                <section>
                    <h2 id="show-user-h2"><%=user.username%>'s Ice Cream Creations</h2>
                    <p class="page-link" id="add-ic-user-page"><a href="../icecreams/new">Add Ice Cream</a></p>
                </section>

                <section>
                    <ul class="ul-show-user">
                        <% for(var i = 0; i < user.icecreams.length; i++){ %>
                            <li class="p-text"><a href="/icecreams/<%=user.icecreams[i].id%>"><%=user.icecreams[i].nameOfCreation%></a></li>
                        <% } %>
                    </ul>
                </section>

                <section>
                    <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
                        <input class="button" id="delete-ic" class="delete-user" type="submit" value="Delete User">
                    </form>

                    <form action="/sessions?_method=DELETE" method="POST">
                         <input class="button" id="delete-ic" type="submit" value="Logout">
                    </form>
                </section>
            </div>

        </main>

        <!-- including ejs template for footer -->
        <%- include ../partials/footer.ejs %>

    </body>
</html>
