<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>User's Page</title>
    </head>
    <body>

        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="/icecreams">Ice Creams</a></li>
                    <li><a href="#">Location</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section>
                <h1>Hello <%=user.username%>!</h1>
                <p><a href="/users/<%=user._id%>/edit">Edit User Profile</a></p>
            </section>

            <section>
                <h1><%=user.username%>'s Ice Cream Creations</h1>
                <p><a href="../icecreams/new">Add Ice Cream</a></p>
            </section>

            <section>
                <ul>
                    <% for(var i = 0; i < user.icecreams.length; i++){ %>
                        <li><%=user.icecreams[i].nameOfCreation%></li>
                    <% } %>
                </ul>
            </section>

            <section>
                <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete User">
                </form>
            </section>

        </main>

    </body>
</html>
